.Pokecard {
    background: white;
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    text-align: center;
    border-radius: 3px;
}

.Pokecard-data {
    font-size: 80%;
}

.Pokecard-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.Pokecard img {
transition: all ease 500ms;
}
.Pokecard img:hover{
    transform: scale(1.25);
    opacity: 0.8;
}

.Pokecard-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 3px;
    background:#eceff1;
    margin-bottom: 1rem; 
}