.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Pokedex{
    text-align: center;
}

.Pokedex-winner{
    color: green;
}
.Pokedex-loser{
    color: red;
}